<div class="card text-center row">
  <div class="card-header">
    <h3>Registrar Pago</h3>
  </div>
  <div class="card-body">
    <form class="form-alumno row" #pagoForm="ngForm">
      <label for="monto" class="form-label col-4 mb-3">Monto</label>
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="monto"
        name="monto"
        [(ngModel)]="pago.monto"
        #monto="ngModel"
        required
      />
      <div
        *ngIf="monto.invalid && (monto.dirty || monto.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="fechapago" class="form-label col-4 mb-3">Fecha de Pago</label>
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechapago"
        name="fecha_pago"
        [(ngModel)]="pago.fecha_pago"
        #fecha_pago="ngModel"
        required
      />
      <div
        *ngIf="fecha_pago.invalid && (fecha_pago.dirty || fecha_pago.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="modopago" class="form-label col-4 mb-3">Modo de Pago</label>
      <select
        class="form-select w-50 mb-3"
        aria-label="Default select example"
        id="plan"
        name="plan"
        [(ngModel)]="pago.forma_pago"
        #plan="ngModel"
        required
      >
        <option selected>Seleccione un Modo de Pago</option>
        <option value="Contado">Contado</option>
        <option value="Debito">Débito</option>
        <option value="Credito">Crédito</option>
      </select>
      <div
        *ngIf="plan.invalid && (plan.dirty || plan.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="alumno" class="form-label col-4 mb-3">Alumno</label>
      <select
        class="form-select w-50 mb-3"
        aria-label="Default select example"
        id="alumno"
        name="alumno"
        [(ngModel)]="pago.alumno"
        #alumno="ngModel"
        required
      >
        <option *ngFor="let alumno of alumnos" [ngValue]="alumno">
          {{ alumno.apellido }}, {{ alumno.nombre }} - {{ alumno.dni }}
        </option>
      </select>
      <div
        *ngIf="alumno.invalid && (alumno.dirty || alumno.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="fechavencimiento" class="form-label col-4 mb-3"
        >Fecha de Vencimiento</label
      >
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechavencimiento"
        name="fecha_vencimiento"
        [(ngModel)]="pago.fecha_vencimiento"
        #fecha_vencimiento="ngModel"
        required
      />
      <div
        *ngIf="
          fecha_vencimiento.invalid &&
          (fecha_vencimiento.dirty || fecha_vencimiento.touched)
        "
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="completo" class="form-label col-4 mb-3">Pago Completo</label>
      <input
        type="checkbox"
        class="form-check-input"
        id="completo"
        [(ngModel)]="pago.completo"
        [ngModelOptions]="{ standalone: true }"
      />

      <div class="d-flex justify-content-evenly">
        <button
          type="submit"
          class="btn btn-dark col-3 mt-3 mx-auto"
          (click)="agregarPago(pagoForm)"
        >
          Registrar
        </button>
        <button
          type="button"
          class="btn btn-dark col-3 mt-3 mx-auto"
          (click)="limpiarFormulario(pagoForm)"
        >
          Limpiar
        </button>
        <button
          type="button"
          class="btn btn-dark col-3 mt-3 mx-auto"
          (click)="cancelar()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
