<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
/>

<div class="bg-dark text-white text-center p-4">
  <div class="container">
    <nav class="row">
      <!--Logo-->
      <a
        href="#"
        class="col-3 text-reset text-uppercase d-flex aling-items-center"
      >
        <img
          src="../../../../assets/images/logo5.png"
          width="100"
          height="100"
          alt="Logo"
          class="img-logo mr-2"
        />
      </a>
      <!--menu-->
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">Recursos</li>
        <li>
          <a
            href="https://developers.facebook.com/apps/ "
            class="text-reset"
            target="_blank"
            >Facebook Developers</a
          >
        </li>
        <li><a href="" class="text-reset">link1</a></li>
      </ul>
      <!--social networks-->
      <ul class="col-3 list-unstyled">
        <li class="font-weight-bold text-uppercase">Redes Sociales</li>
        <li class="d-flex justify-content-around">
          <!--facebook-->
          <a
            href="https://www.facebook.com/"
            class="text-reset"
            target="_blank"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <!--twitter-->
          <a
            href="https://wa.me/543884752399/?text=Hola%20quiero%20realizar%20una%20consulta"
            class="text-reset"
            target="_blank"
          >
            <i class="fab fa-whatsapp"></i>
          </a>
          <!--instagram-->
          <a
            href="https://www.instagram.com/"
            class="text-reset"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  &#169; GRUPO 9 - Programacion y Servicios Web 2021 - FI UNJU
</div>
