.btn-search {
  right: 0;
  margin-right: 10px;
}

.nav {
  width: 90%;
}

.navbar {
  background-color: rgb(177, 177, 176);
}

#iniciar {
  text-decoration-line: none;
}

.logout {
  font-weight: bold;
}
