<!-- Contenedor -->
<section class="contenedor">
  <div class="caja row">
    <div class="caja-img col-md-3">
      <img src="../../../../assets/images/Matias.jpeg" alt="Cruz Matías" />
    </div>
    <div class="caja-contenido text-center col-md-8">
      <h3>Cruz, Franco Matías</h3>
      <h4>Interés Personal</h4>
      <p>Soy estudiante de APU en la Facultad de Ingeniería de la UNJu</p>
      <p>
        Me gustaria desarrollar videojuegos y apps de realidad virtual, tener
        mas conocimientos en cuanto a programacion y ciberseguridad. Manejo
        Java, C++ y Python.
      </p>
      <h4>
        <a
          class="text-success"
          href="https://wa.me/543884723483/?text=Hola%20quiero%20realizar%20una%20consulta"
          target="_blank"
          ><i class="fab fa-whatsapp"></i> Mi Whatsapp</a
        >
      </h4>
    </div>
  </div>
  <div class="caja row">
    <div class="caja-img col-md-3">
      <img src="../../../../assets/images/Marcelo.jpeg" alt="Jurado Marcelo" />
    </div>
    <div class="caja-contenido text-center col-md-8">
      <h3>Jurado, Marcelo Leandro</h3>
      <h4>Interés Personal</h4>
      <p>Soy estudiante de APU en la Facultad de Ingeniería de la UNJu</p>
      <p>
        Después de recibirme me gustaría seguir una carrera cinematográfica,
        ninguna especifica, todas las ramas si es posible como cineasta. Manejo
        Visual Code, Java Script.
      </p>
      <h4>
        <a
          class="text-success"
          href="https://wa.me/543885822128/?text=Hola%20quiero%20realizar%20una%20consulta"
          target="_blank"
          ><i class="fab fa-whatsapp"></i> Mi Whatsapp</a
        >
      </h4>
    </div>
  </div>
  <div class="caja row">
    <div class="caja-img col-md-3">
      <img src="../../../../assets/images/Ema.jpg" alt="Talavera Emanuel" />
    </div>
    <div class="caja-contenido text-center col-md-8">
      <h3>Talavera, Roque Emanuel</h3>
      <h4>Interés Personal</h4>
      <p>
        Soy estudiante de APU y de Ingeniería en informática en la Facultad de
        Ingeniería de la UNJu
      </p>
      <p>
        Mi interés actual es enfocarme en las 2 ramas de la informática que me
        gustan, las cuales son la Programación Web y la Inteligencia Artificial.
        En lo académico manejo los lenguajes de programación C++, Java y Python.
        En la programación web manejo frameworks para el frontend: AngularJs y
        ReactJs, este último recién comenzando y aprendiendo bastante, en cuanto
        al backend lo reciente que estoy viendo es Express y NestJs, son muy
        buenas tecnologías y siempre dando mi mejor esfuero en todo.
      </p>
      <h4>
        <a
          class="text-success"
          href="https://wa.me/543885822128/?text=Hola%20quiero%20realizar%20una%20consulta"
          target="_blank"
          ><i class="fab fa-whatsapp"></i> Mi Whatsapp
        </a>
      </h4>
    </div>
  </div>
</section>
