<div class="sidebar-container">
  <div class="logo">
    <a>
      <img class="logo-img" src="../../../assets/images/logo2.png" alt="">
      <h3>GYM - Pepito</h3>
    </a>
  </div>
  <div class="menu">
    <!--Profesor o Administrador-->
    <div class="dropend">
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-person"></i> Alumnos</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['alumno-form']"
            ><i class="icon ion-md-person"></i> Inscribir Alumno</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['pago-form']"
            ><i class="icon ion-md-clipboard"></i> Ver Asistencia</a
          >
        </li>
      </ul>
    </div>

    <div class="dropend">
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-checkbox"></i> Pagos</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['pago-table']"
            ><i class="icon ion-md-book"></i> Ver Pagos</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['pago-form']"
            ><i class="icon ion-md-wallet"></i> Registrar Pago</a
          >
        </li>
      </ul>
    </div>

    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-walk"></i> Asignar Rutina</a
    >
    <div class="dropend">
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-laptop"></i> Planes</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['plan-table']"
            ><i class="icon ion-md-eye"></i> Ver Planes</a
          >
        </li>
      </ul>
    </div>
    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-podium"></i> Estadísticas</a
    >
    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-body"></i> Dieta</a
    >

    <!--Alumno-->
    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-grid"></i> Asistencia</a>
    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-fitness"></i> Opción 2</a
    >
    <a class="nav-link d-block" [routerLink]="['alumno-form']"
      ><i class="icon ion-md-pricetags"></i> Pago de Cuotas</a
    >
  </div>
</div>
