<div class="sidebar-container">
  <div class="logo">
    <a>
      <img class="logo-img" src="../../../assets/images/logo2.png" alt="" />
      <h3>Power GYM</h3>
    </a>
  </div>
  <div class="menu">
    <!--Administrador-->
    <div
      class="dropend"
      *ngIf="loginService.perfilLogged() === 'administrador'"
    >
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-person"></i> Usuarios</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['usuario-table']"
            ><i class="icon ion-md-people"></i> Ver Usuarios</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['usuario-form']"
            ><i class="icon ion-md-person-add"></i> Nuevo Usuario</a
          >
        </li>
      </ul>
    </div>

    <div
      class="dropend"
      *ngIf="loginService.perfilLogged() === 'administrador'"
    >
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-clipboard"></i> Tarjetas</a
      >
      <ul class="dropdown-menu">
        <li>
          <a
            class="text-menu dropdown-item"
            [routerLink]="['entrenamiento-table']"
            ><i class="icon ion-md-paper"></i> Ver Tarjetas</a
          >
        </li>
        <li>
          <a
            class="text-menu dropdown-item"
            [routerLink]="['entrenamiento-form']"
            ><i class="icon ion-md-open"></i> Nueva Tarjeta</a
          >
        </li>
      </ul>
    </div>
    <!--Profesor o Administrador-->
    <div
      class="dropend"
      *ngIf="
        loginService.perfilLogged() === 'administrador' ||
        loginService.perfilLogged() === 'entrenador'
      "
    >
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-person"></i> Alumnos</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['alumno-table']"
            ><i class="icon ion-md-people"></i> Ver Alumnos</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['alumno-form']"
            ><i class="icon ion-md-person-add"></i> Inscribir Alumno</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['asistencia']"
            ><i class="icon ion-md-clipboard"></i> Ver Asistencia</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['asistencia-form']"
            ><i class="icon ion-md-list"></i> Registrar Asistencia</a
          >
        </li>
      </ul>
    </div>

    <div
      class="dropend"
      *ngIf="
        loginService.perfilLogged() === 'administrador' ||
        loginService.perfilLogged() === 'entrenador'
      "
    >
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-checkbox"></i> Pagos</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['pago-table']"
            ><i class="icon ion-md-book"></i> Ver Pagos</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['pago-form']"
            ><i class="icon ion-md-wallet"></i> Registrar Pago</a
          >
        </li>
      </ul>
    </div>

    <a
      class="nav-link d-block"
      [routerLink]="['alumno-form']"
      *ngIf="
        loginService.perfilLogged() === 'administrador' ||
        loginService.perfilLogged() === 'entrenador'
      "
      ><i class="icon ion-md-walk"></i> Asignar Rutina</a
    >
    <div
      class="dropend"
      *ngIf="loginService.perfilLogged() === 'administrador'"
    >
      <a
        class="nav-link d-block dropdown-toggle"
        href=""
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="icon ion-md-laptop"></i> Planes</a
      >
      <ul class="dropdown-menu">
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['plan-table']"
            ><i class="icon ion-md-eye"></i> Ver Planes</a
          >
        </li>
        <li>
          <a class="text-menu dropdown-item" [routerLink]="['plan-form']"
            ><i class="icon ion-md-wallet"></i> Registrar Planes</a
          >
        </li>
      </ul>
    </div>
    <a
      class="nav-link d-block"
      [routerLink]="['alumno-form']"
      *ngIf="
        loginService.perfilLogged() === 'administrador' ||
        loginService.perfilLogged() === 'entrenador'
      "
      ><i class="icon ion-md-body"></i> Dieta</a
    >

    <!--Alumno-->
    <a
      class="nav-link d-block"
      [routerLink]="['alumno-form']"
      *ngIf="loginService.perfilLogged() === 'alumno'"
      ><i class="icon ion-md-grid"></i> Asistencia</a
    >
    <a
      class="nav-link d-block"
      [routerLink]="['alumno-form']"
      *ngIf="loginService.perfilLogged() === 'alumno'"
      ><i class="icon ion-md-fitness"></i> Ver Rutinas</a
    >
    <a
      class="nav-link d-block"
      [routerLink]="['alumno-form']"
      *ngIf="loginService.perfilLogged() === 'alumno'"
      ><i class="icon ion-md-pricetags"></i> Pago de Cuotas</a
    >
  </div>
</div>
