<div class="card text-center row">
  <div class="card-header">
    <h3>Cargar dias de Rutinas</h3>
  </div>
  <div class="card-body">
    <form class="form-rutina row" #rutinaForm="ngForm">
      <label for="descripcion" class="form-label col-4 mb-3"
        >Descripcion de Rutina</label
      >
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="rutina"
        name="descripcion"
        [(ngModel)]="rutina.descripcion"
      />

      <label for="duracion" class="form-label col-4 mb-3">Duracion</label>
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="duracion"
        name="duracion"
        [(ngModel)]="rutina.duracion"
      />

      <label for="cantidadSeries" class="form-label col-4 mb-3"
        >CantidadSeries</label
      >
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="cantidadSeries"
        name="cantidadSeries"
        [(ngModel)]="rutina.cantidadSeries"
      />

      <label for="repeticiones" class="form-label col-4 mb-3"
        >Repeticiones</label
      >
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="repeticiones"
        name="repeticiones"
        [(ngModel)]="rutina.repeticiones"
      />

      <label for="intensidad" class="form-label col-4 mb-3">Intensidad</label>
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="intensidad"
        name="intensidad"
        [(ngModel)]="rutina.intensidad"
      />

      <label for="alumno" class="form-label col-4 mb-3">Alumno</label>
      <select
        class="form-select w-50 mb-3"
        aria-label="Default select example"
        id="alumno"
        name="alumno"
        [(ngModel)]="rutina.alumno"
        #alumno="ngModel"
        required
      >
        <option *ngFor="let alumno of alumnos" [ngValue]="alumno">
          {{ alumno.apellido }}, {{ alumno.nombre }} - {{ alumno.dni }}
        </option>
      </select>

      <label for="ejercicio" class="form-label col-4 mb-3">Ejercicio</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="ejercicio"
        name="ejercicio"
        [(ngModel)]="rutina.ejercicio"
      />

      <label for="fechaRutina" class="form-label col-4 mb-3"
        >Fecha de Rutina</label
      >
      <input type="date" class="form-control w-50 mb-3" id="fechaRutina" />

      <button type="submit" class="btn btn-primary col-3 mt-3 mx-auto">
        Registrar
      </button>
    </form>
  </div>
</div>
