<div class="card text-center row">
    <div class="card-header">
      <h3>Cargar Ejercicio</h3>
    </div>
    <div class="card-body">
      <form class="form-alumno row">
        <label for="Nombre" class="form-label col-4 mb-3">Nombre</label>
        <input type="date" class="form-control w-50 mb-3" id="Nombre" />
  
        <label for="img" class="form-label col-4 mb-3">ImagenEjercicio</label>
        <input type="image" class="form-control w-50 mb-3" id="img" />
  
        <label for="Video" class="form-label col-4 mb-3">Video</label>
        <input type="image" class="form-control w-50 mb-3" id="img" />
             
  
        <button type="submit" class="btn btn-primary col-3 mt-3 mx-auto">
          Registrar
        </button>
      </form>
    </div>
</div>  

