<div class="container">
  <!--tarjeta-->
  <div class="card">
    <div class="card-header text-center text-white">
      MENSAJES PARA LA PAGINA DE FACEBOOK
    </div>
    <div class="card-body">
      <!--formulario-->
      <form class="col-12">
        <div class="form-group">
          <label for="my-input" >Dejanos tu mensaje y correo nuestro equipo se comunicara en breve</label>
          <br><br>
          <textarea class="form-control" for="my-input"
          [(ngModel)]="mensaje" name="mensaje" cols="30" rows="10"></textarea>
      </div>
      <br>
      <button class="btn btn-dark"
          (click)="postFb()">Postear</button>

      </form>
    </div>
  </div>
</div>
























