<div>
  <article class="col-4 card-effect">
    <div class="card">
      <img src="../../../assets/images/salud1.jpg" alt="basico" class="card-img card-img-filter">
      <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
        <h4>Verduras</h4>
        <p></p>
      </div>
    </div>
  </article>

  <article class="col-4 card-effect">
    <div class="card">
      <img src="../../../assets/images/salud2.jpg" alt="intermedio" class="card-img card-img-filter">
      <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
        <h4>Carbohidratos</h4>
        <p></p>
      </div>
    </div>
  </article>

  <article class="col-4 card-effect">
    <div class="card">
      <img src="../../../assets/images/salud3.jpg" alt="avanzado" class="card-img card-img-filter">
      <div class="card-img-overlay text-white d-flex flex-column justify-content-center text-center">
        <h4>Comidas</h4>
        <p></p>
      </div>
    </div>
  </article>
</div>

