<div class="card text-center row">
  <div class="card-header">
    <h3>Registrar Alumno</h3>
  </div>
  <div class="card-body">
    <form class="form-alumno row">
      <label for="nombre" class="form-label col-4 mb-3">Nombre</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="nombre"
        aria-describedby="emailHelp"
      />

      <label for="apllido" class="form-label col-4 mb-3">Apellido</label>
      <input type="textord" class="form-control w-50 mb-3" id="apllido" />

      <label for="dni" class="form-label col-4 mb-3">DNI</label>
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="dni"
        aria-describedby="emailHelp"
      />

      <label for="fechanacimiento" class="form-label col-4 mb-3"
        >Fecha de Nacimiento</label
      >
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechanacimiento"
        aria-describedby="emailHelp"
      />

      <label for="celular" class="form-label col-4 mb-3">Celular</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="celular"
        aria-describedby="emailHelp"
      />

      <label for="domicilio" class="form-label col-4 mb-3">Domicilio</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="domicilio"
        aria-describedby="emailHelp"
      />

      <label for="email" class="form-label col-4 mb-3">Email</label>
      <input
        type="email"
        class="form-control w-50 mb-3"
        id="email"
        aria-describedby="emailHelp"
      />

      <label for="fechainicio" class="form-label col-4 mb-3"
        >Fecha de Inicio</label
      >
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechainicio"
        aria-describedby="emailHelp"
      />

      <label for="plan" class="form-label col-4 mb-3">Plan</label>
      <select
        class="form-select w-50 mb-3"
        aria-label="Default select example"
        id="plan"
      >
        <option selected>Seleccione un plan</option>
        <option value="1">Básico (3 días x semana)</option>
        <option value="2">Full (5 días x semana)</option>
        <option value="3">Pase libre</option>
      </select>

      <button type="submit" class="btn btn-primary col-3 mt-3 mx-auto">
        Registrar
      </button>
    </form>

    <!-- <form #noticiaForm ="ngForm">
            <div class="mb-3">
                <label for="txttitulo" class="form-label">Titulo</label>
                <input name="titulo" type="text" class="form-control" id="txttitulo"
                   [(ngModel)]="noticia.titulo" required #titulo="ngModel">
                <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="text-danger">
                  * Este campo es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="txtdescripcion" class="form-label">Descripción</label>
                <textarea class="txtaria form-control" name="descripcion" id="" rows="5" id="txtdescripcion" [(ngModel)]="noticia.noticia" required #descripcion="ngModel"></textarea>
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
                  * Este campo es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="txtimg" class="form-label">URL Noticia</label>
                <input name="img" type="text" class="form-control" id="txtimg"
                   [(ngModel)]="noticia.img" required #src="ngModel">
                <div *ngIf="src.invalid && (src.dirty || src.touched)" class="text-danger">
                  * Este campo es requerido
                </div>
            </div>
            <div class="mb-3">
                <label for="idvigente" class="form-label">Vigente</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexActivo" (change)="estadoNoticia(1)">
                    <label class="form-check-label" for="flexRadioActivo">
                      Activo
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioInactivo" checked (change)="estadoNoticia(0)">
                    <label class="form-check-label" for="flexRadioInactivo">
                      Inactivo
                    </label>
                  </div>
            </div>
            <div class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-primary" (click)="agregarNoticia(noticiaForm)" [disabled]="noticiaForm.invalid">Guardar</button>
                <button type="button" class="btn btn-primary" (click)="limpiarFormulario(noticiaForm)">Limpiar</button>
                <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
            </div>
        </form> -->
  </div>
</div>
