<div class="card text-center row">
  <div class="card-header">
    <h3>Registrar Alumno</h3>
  </div>
  <div class="card-body">
    <form class="form-alumno row" #alumnoForm="ngForm">
      <label for="nombre" class="form-label col-4 mb-3">Nombre</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="nombre"
        name="nombre"
        [(ngModel)]="alumno.nombre"
        required
        #nombre="ngModel"
      />
      <div
        *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="apllido" class="form-label col-4 mb-3">Apellido</label>
      <input
        type="textord"
        class="form-control w-50 mb-3"
        id="apllido"
        name="apellido"
        [(ngModel)]="alumno.apellido"
        required
        #apellido="ngModel"
      />
      <div
        *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="dni" class="form-label col-4 mb-3">DNI</label>
      <input
        type="number"
        class="form-control w-50 mb-3"
        id="dni"
        name="dni"
        [(ngModel)]="alumno.dni"
        required
        #dni="ngModel"
      />
      <div
        *ngIf="dni.invalid && (dni.dirty || dni.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="fechanacimiento" class="form-label col-4 mb-3"
        >Fecha de Nacimiento</label
      >
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechanacimiento"
        name="fechaNacimiento"
        [(ngModel)]="alumno.fecha_nacimiento"
        required
        #fechaNacimiento="ngModel"
      />
      <div
        *ngIf="
          fechaNacimiento.invalid &&
          (fechaNacimiento.dirty || fechaNacimiento.touched)
        "
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="celular" class="form-label col-4 mb-3">Celular</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="celular"
        name="celular"
        [(ngModel)]="alumno.celular"
        required
        #celular="ngModel"
      />
      <div
        *ngIf="celular.invalid && (celular.dirty || celular.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="domicilio" class="form-label col-4 mb-3">Domicilio</label>
      <input
        type="text"
        class="form-control w-50 mb-3"
        id="domicilio"
        name="domicilio"
        [(ngModel)]="alumno.domicilio"
        required
        #domicilio="ngModel"
      />
      <div
        *ngIf="domicilio.invalid && (domicilio.dirty || domicilio.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="email" class="form-label col-4 mb-3">Email</label>
      <input
        type="email"
        class="form-control w-50 mb-3"
        id="email"
        name="email"
        [(ngModel)]="alumno.email"
        required
        #email="ngModel"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="fechainicio" class="form-label col-4 mb-3"
        >Fecha de Inicio</label
      >
      <input
        type="date"
        class="form-control w-50 mb-3"
        id="fechainicio"
        name="fechaInicio"
        [(ngModel)]="alumno.fecha_inicio"
        required
        #fechaInicio="ngModel"
      />
      <div
        *ngIf="
          fechaInicio.invalid && (fechaInicio.dirty || fechaInicio.touched)
        "
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <label for="idplan" class="form-label col-4 mb-3">Plan</label>
      <select
        class="form-select w-50 mb-3"
        name="plan"
        id="idplan"
        [(ngModel)]="alumno.plan"
        required
        #plan="ngModel"
      >
        <option *ngFor="let plan of planes" [ngValue]="plan">
          {{ plan.nombre }} - ${{ plan.costo }}
        </option>
      </select>
      <div
        *ngIf="plan.invalid && (plan.dirty || plan.touched)"
        class="text-danger"
      >
        * Este campo es requerido
      </div>

      <button
        type="submit"
        class="btn btn-primary col-3 mt-3 mx-auto"
        (click)="agregarAlumno(alumnoForm)"
        [disabled]="alumnoForm.invalid"
      >
        Registrar
      </button>
      <button
        type="button"
        class="btn btn-primary col-3 mt-3 mx-auto"
        (click)="limpiarFormulario(alumnoForm)"
      >
        Limpiar
      </button>
      <button
        type="button"
        class="btn btn-primary col-3 mt-3 mx-auto"
        (click)="cancelar()"
      >
        Cancelar
      </button>
    </form>
  </div>
</div>
