<br>
<div class="col-md-6 col-md-offset-3">
  <h2 class="text-center">LOGIN</h2>
  <!--formulario-->
    <form class="text-center" name="form">
      <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="formcontrol" name="username" [(ngModel)]="userform.username" />
      </div>
      <br>
      <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="formcontrol" name="password" [(ngModel)]="userform.password" />
      </div>
      <br>
      <div class="form-group">
      <button class="btn btn-primary" (click)="login()">Login</button>
      </div>

      <div class="alert-danger">{{msglogin}}</div>
    </form>
 </div>
